	
body
{
    margin:20px 0;
    background:#eee;
    font-size: 14px;
}
.print-pdf span a:first-child
{
    border: 2px solid #03407a;
    padding: 6px 12px;
    background: #03407a;
    color: #fff;
}
.print-pdf span a:nth-child(2)
{
    border: 2px solid #dc3545;
    padding: 6px 12px;
    background: #dc3545;
    color: #fff;
}
.receipt-page
{
    position: relative;
    page-break-before: always;
}
.watermark
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 500px;
    opacity: 0.15;
}
.receipt
{
    background: #fff;
    border: 2px solid #959595;
}
.receipt-header 
{
    margin: 0 !important;
}
.receipt-header .col-md-4
{
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
}
.receipt-header .col-md-4
{
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.receipt-header .logo-text
{
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 12px;
    color: #124a81;
}
.receipt-header .media
{
    align-items: center;
    height: 100%;
}
.receipt-header .media .media-body
{
    text-align: left;
    font-size: 14px;
    padding-left: 4px;
    font-weight: 700;
}
.receipt-header .column-3
{
    text-align: left;
    padding: 22px 0;
    font-weight: 700;
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}
.receipt-header .gstno-head
{
    width: fit-content;
    padding: 4px 25px;
    margin: 0 auto;
    background: black;
    color: white;
    font-weight: 700;
    font-size: 11px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.receipt-header .gstno-content
{
    padding: 8px 0;
    font-weight: 700;
    font-size: 16px;
}
.receipt-header .gstno-content
{
    padding-bottom: 0px;
}
.receipt-header .state-code
{
    text-align: left;
    padding: 6px 10px;
    font-weight: 700;
}
.receipt-body
{
    margin: 0;
}
.receipt-header .receipt-title
{
    text-align: center;
    padding: 12px 0;
    border-bottom:2px solid #959595;
}
.receipt-header .receipt-title h6
{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
}
.border-bottom
{
    border-bottom: 1px solid lightgray !important;
}
.receipt-body .border-bottom:nth-child(1) .receipt-no-date
{
    margin-left:30px;
}
.receipt-body .border-bottom:nth-child(2)
{
    text-align: center;
}
.receipt-body .border-bottom:nth-child(3)
{
    text-align: right;
}
.receipt-body .border-bottom:nth-child(3) .receipt-no-date
{
    margin-right:30px;
}
.receipt-body .receipt-no-date
{
    padding: 12px 0;
    font-weight: 700;
}
.receipt-body .receipt-no-date label
{
    margin:0;
    vertical-align: middle;
}
.receipt-body .receipt-no-date input
{
    vertical-align: middle;
    margin-left:12px;
    margin-right:2px;
}
.receipt-body .address-header
{
    width: fit-content;
    padding: 5px 25px;
    margin: 0 auto;
    background: black;
    color: white;
    font-weight: 700;
    font-size: 11px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-bottom: 16px !important;
}

.receipt-body .address-content 
{
    border-bottom: 1px dashed;
    margin-bottom: 10px;
    padding-bottom: 4px;
    text-align: left;
}
.receipt-header .gstno-content:first-child
{
    padding-bottom: 0px;
}
.receipt-body .address-content strong
{
    padding-right: 14px;
}
.receipt-body .address-content strong:first-child
{
    width: 65px;
    display: inline-block;
}
.receipt-body .address-content.pincode strong:first-child
{
    width:auto;
}
.receipt-body .table-receipt
{
    border-bottom: 1px solid lightgray;
    padding: 0px;
}





.receipt-body .table-receipt tbody div
{
    height: 60px;
    border-bottom: 1px solid lightgray;
    padding: 0 8px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.receipt-body .table-receipt tbody td, .receipt-body .table-receipt tbody th
{
    padding: 0 !important;
    vertical-align: top !important;
}
.receipt-body .table-receipt-emi tbody div 
{
    border: none;
}
.receipt-body .table-receipt-emi .product-description div
{
    height: auto;
    padding-top: 12px !important;
}
.receipt-body .table-receipt-emi .product-description div:last-child
{
    padding-bottom: 12px !important;
}



.receipt-body .table-receipt .table-bordered
{
    border: 2px solid #fff!important;
    margin-bottom: 0px;
    min-height: 500px;
}
.receipt-body .table-receipt thead th span
{
    width: 100%;
    display: inline-block;
    text-align: center;
}
.receipt-body .table-receipt thead th span i
{
    font-weight: 500;
    font-size: 12px;
    padding: 6px 2px 0 2px;
}
.receipt-body .table-receipt .table-bordered thead tr:first-child th {
    font-size: 14px !important;
    font-weight: 700;
    color: #000;
}
.receipt-body .table-receipt .table-bordered thead td, .table-bordered thead th, .table-bordered tbody th {
    border-bottom-width: 1px;
    font-size: 11px;
}
.receipt-body .table-receipt .table tbody+tbody
{
    border-top: 1px solid #dee2e6;
}
.receipt-body .table-receipt .table th 
{
    vertical-align: middle !important;
    padding: .5rem;
    text-align: center;
}
.receipt-body .table-receipt .table tbody th
{
    vertical-align: top !important;
}
.receipt-body .table-receipt tbody td
{
    text-align: center;
    vertical-align: middle;
}
.receipt-body .table-receipt .product-description div
{
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    justify-content: flex-start;
}

.receipt-body .table-receipt .product-description ul
{
    font-size: 12px;
    padding-left: 18px;
    text-align: left;
}
.receipt-body .table-receipt .product-description ul li
{
    padding-bottom: 2px;
}
.receipt-body .table-receipt tfoot
{
    text-align: center;
}
.fw-600
{
    font-weight: 600;
}
.receipt-body .terms-condition
{
    padding: 0px 15px;
}
.receipt-body .terms-condition div
{
    font-weight: 600;
    margin-bottom: 8px;
}
.receipt-body .terms-condition ul
{
    list-style: decimal;
    padding-left: 4px;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 16px;
}
.receipt-body .terms-condition ul li
{
    padding-bottom: 4px;
}
.receipt-body .imp-message
{
    padding: 6px 0;
    text-align: center;
    font-weight: 600;
}
.receipt-body .imp-message img
{
    width: 200px;
    top: 30%;
    position: relative;
    margin-left: -25px;
}
.receipt-body .imp-message .img-text
{
    position: absolute;
    top: 47%;
    left: 9%;
}
.receipt-body .seal
{
    border-left: 1px solid lightgray;
}
.receipt-body .seal-text
{
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid lightgray;
    width: 100%;
}
.e-and-oe
{
    position: absolute;
    right: 10px;
    top: 3px;
}
.receipt-footer
{
    padding-top: 10px;
    margin: 0;
    border-top: 2px solid #959595;
    position: relative;
}
.receipt-footer .col-md-2, .receipt-footer .col-md-4, .receipt-footer .col-md-6
{
    border-bottom: 1px solid lightgray;
}
.receipt-footer .col-md-6 div
{
    font-weight: 600;
    width: 90%;
    margin: auto;
    text-align: left;
}
.receipt-footer ul
{
    list-style: none;
    margin-bottom: 0;
    display: inline-block;
    text-align: left;
    width: 45%;
    padding: 0;
    padding-top: 6px;
}
.receipt-footer ul li
{
    padding-bottom: 8px;
    font-weight: 600;
}
.receipt-footer ul li i
{
    padding-right: 6px;
}
.receipt-footer .footer-img
{
    margin: 27px 0;
}
.receipt-footer .col-md-12
{
    padding: 6px 0;
    text-align: center;
    font-weight: 600;
}
.note
{
    padding: 16px 30px;
}
.note h6
{
    font-size: 14px;
    font-weight: 700;
}
.note p
{
    margin-bottom: 4px;
    padding-left: 10px;
    font-weight: 500;
}
.note p i
{
    font-size: 11px;
    padding-right: 6px;
}
tr.active
{
    font-size: 13px;
    font-weight: 700;
}

@media (max-width:1199px) and (min-width:992px)
{
    .receipt-header .column-3
    {
        padding: 20px 0;
    }
    .receipt-footer .footer-img 
    {
        margin: 28px 0;
    }
    .receipt-body .table-receipt .table tbody th, .receipt-body .table-receipt .table tbody td
    {
        padding: .25rem;
    }
    .receipt-body .imp-message img 
    {
        top: 35%;
    }
    .receipt-body .imp-message .img-text 
    {
        left: 4%;
        font-size: 13px;
    }
    .receipt-body .seal img
    {
        padding-top: 25px !important;
    }
    .receipt-body .seal-text 
    {
        font-size: 13px;
    }
    .receipt-footer
    {
        padding-top: 10px;
    }
    .e-and-oe 
    {
        right: 6px;
        top: 3px;
    }
    .receipt-footer .col-md-6 div
    {
        padding-bottom: 10px;
    }
}
@media (max-width:991px) and (min-width:768px)
{
    .receipt-header .col-md-3, .receipt-header .col-md-2, .receipt-header .col-md-4
    {
        padding: 0px;
    }
    .receipt-header .media 
    {
        padding: 15px 0px;
        align-items: center;
    }
    .receipt-header .media img
    {
        width: 60px;
    }
    .receipt-header .media .media-body
    {
        font-size: 12px;
        padding-left: 0px;
    }
    .receipt-header .column-3 
    {
        padding: 15px 6px;
        font-size: 12px;
    }
    .receipt-header .gstno-content
    {
        font-size:14px;
    }
    .receipt-header .state-code
    {
        font-size: 13px;
    }
    .receipt-header .receipt-title h6
    {
        font-size: 17px;
    }
    .receipt-body .receipt-no-date
    {
        font-size: 11px;
        margin: 0 !important;
    }
    .receipt-body .address-content
    {
        font-size: 13px;
    }
    .receipt-body .address-header
    {
        margin-bottom: 12px !important;
    }
    .receipt-body .address-content 
    {
        margin-bottom: 4px;
    }
    .receipt-body .table-receipt .table-bordered thead tr:first-child th 
    {
        font-size: 12px !important;
    }
    .receipt-body .terms-condition 
    {
        padding: 0px!important;
    }
    .receipt-body .terms-condition div 
    {
        margin-bottom: 2px;
    }
    .receipt-body .terms-condition ul li 
    {
        padding-bottom: 0;
        font-size: 9px;
    }
    .receipt-body .seal img
    {
        margin: 25px 0 !important;
    }
    .receipt-body .imp-message 
    {
        font-size: 12px;
    }
    .receipt-footer ul li 
    {
        padding-bottom: 0px;
        font-size: 12px;
    }
    .receipt-footer .col-md-12 
    {
        padding: 2px 0;
        font-size: 12px;
    }
    .receipt-body .table-receipt .table tbody th, .receipt-body .table-receipt .table tbody td
    {
        padding: .25rem;
        font-size: 12px;
    }
    .receipt-body .table-receipt tfoot
    {
        font-size:13px;
    }
    .receipt-body .table-receipt .table tfoot th:nth-child(2), .receipt-body .table-receipt .table tfoot th:nth-child(3)
    {
        font-size: 14px !important;
    }
    .receipt-body .imp-message img 
    {
        margin-left: -14px;
    }
    .receipt-body .imp-message .img-text 
    {
        top: 43%;
        left: 7%;
        font-size: 9px;
    }
    .receipt-body .seal-text 
    {
        font-size: 10px;
    }
    .receipt-footer .footer-img {
        margin: 20px 0;
    }
    .receipt-footer .col-md-6 div {
        font-weight: 600;
        font-size: 12px;
    }
    .receipt-footer .col-md-2 img
    {
        margin-top: 8px;
    }
    .watermark 
    {
        width: 450px;
    }
    .receipt-footer
    {
        padding-top: 10px;
    }
    .e-and-oe 
    {
        right: 6px;
        top: 1px;
        font-size: 13px !important;
    }
    .receipt-footer .col-md-2, .receipt-footer .col-md-4, .receipt-footer .col-md-6 
    {
        padding-bottom: 6px;
    }
}
@media (max-width:767px)
{
    .container
    {
        min-width: 1200px;
        overflow-x: auto;
    }
    .receipt-body .seal img
    {
        margin: 2px 0!important;
    }
    .receipt-body .terms-condition {
        padding: 6px 15px;
    }
}
/* To Hide Pdf button and Print button while printing */		
@media print 
{
    body
    {
        background:rgb(255, 255, 255);
    }
    .print-pdf
    {
        display: none;
    }
    .table-responsive 
    {
        overflow-x: inherit!important;
    }


    .receipt-body .table-receipt tbody tr
    {
        height: 430px;
    }
    .receipt-body .table-receipt tbody div
    {
        padding: .25rem 0.25rem !important;
        font-size: 11px !important;
        height: 48px;
    }
    .receipt-body .table-receipt-emi .product-description div
    {
        height: auto;
        padding-top: 6px !important;
    }


    .table-receipt tbody td
    {
        font-size: 10px;
        padding: .25rem 0.15rem !important;
    }
    .receipt-body .address-header
    {
        background: none;
        color: black;
        font-weight: 700;
        font-size: 14px;
        padding-top: 16px;
    }
    .receipt-header .gstno-head
    {
        background: none;
        color: black;
        font-weight: 700;
        font-size: 14px;
        padding-top: 8px;
    }
    .receipt
    {
        width: 256mm;
        margin: 30px auto;
    }
    .receipt-body .terms-condition
    {
        padding: 14px 15px;
    }
    .receipt-body .terms-condition ul li 
    {
        padding-bottom: 4;
        font-size: 12px;
    }
    .receipt-footer ul li
    {
        padding-bottom: 8px;
        font-size: 12px;
    }
    .receipt-footer ul li i
    {
        padding-right: 6px;
    }
    .receipt-footer .footer-img
    {
        margin: 27px 0;
    }
    .receipt-header .column-3
    {
        padding:25px 16px;
    }
    .receipt-header .media
    {
        align-items: center;
        height: 100%;
    }
    .receipt-header .media img
    {
        width: 80px;
    }
    .receipt-body .imp-message img 
    {
        margin-left: -24px;
    }
    .receipt-body .imp-message .img-text 
    {
        left: 12%;
        font-size: 12px;
    }
    .receipt-body .seal-text 
    {
        font-size: 12px;
    }
    .receipt-body .seal img{
        margin: 16px 0 !important;
    }
    .watermark 
    {
        width: 450px;
        opacity: .2;
        z-index: 9999;
    }
    .receipt-no-date
    {
        font-size: 14px !important;
    }
}


.installment-title
{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
    padding: 30px 0 !important;
}
.table-emi
{
    margin-bottom: 0;
}
.table-emi td, .table-emi th 
{
    text-align: center;
}
.table-emi td
{
    padding: .75rem .25rem !important;
}